1- clean up sidebar ==> templates/layout/sidebar.phtml

2- create user table ==> columns (id, email, password, role,first_name, last_name)

3- add confirm password to registration page + submit form and create user with role "ROLE_ADMIN"

4- login: clean up login page , leave only email , password and submit button , then process submitting the login form:

* if the user role is not admin , go back to login page

* if user is admin and credentials are correct , create user in session and redirect to dashboard page
